
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-12">
      <div class="row col-xs-12">
        <app-odd *ngFor="let odd of oddNumbers"
        [number]="odd"></app-odd>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row col-xs-12">
        <app-even *ngFor="let even of evenNumbers"
        [number]="even"></app-even>
      </div>
    </div>
  </div>
</div>
